<%= form_for(@stepsnippet) do |f| %>
  <% if @stepsnippet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stepsnippet.errors.count, "error") %> prohibited this stepsnippet from being saved:</h2>

      <ul>
      <% @stepsnippet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.select :given_when_then,["Given","When","Then"] %>
    <%= f.text_field :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
