<h1>Listing stepsnippets</h1>

<table>
  <tr>
    <th></th>
    <th>Body</th>
    <th></th>
    <th></th>
  </tr>

<% @stepsnippets.each do |stepsnippet| %>
  <tr>
    <td><%= stepsnippet.given_when_then %></td>
    <td><%= stepsnippet.body %></td>
    <td><%= link_to 'Edit', edit_stepsnippet_path(stepsnippet) %></td>
    <td><%= link_to 'Destroy', stepsnippet, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= render 'form' %>

<%= link_to "Home",root_path %>
